# Default ignores
node_modules/
dist/
build/
.next/
.astro/
.nuxt/
out/
*.log
.DS_Store

# Go
go.sum
*.exe
*.out
*.test
bin/
tmp/

# Environment files
.env
.env.local
.env.production
.env.development
